#buzzGoodBytesJsButton
{
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0.75em 0.85em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em;
    border-radius: 5px;
    text-decoration: none;
    background-color: #0C22D1;
    color: white;
    font-size: 1em;
    cursor: pointer;
    display: table;
    transition: top .2s ease;
}

#buzzGoodBytesJsButton:active, #buzzGoodBytesJsButton:focus
{
    position: relative;
    top: 2px;
}

#buzzGoodBytesJsButtonText
{
   padding-left: 0.5em;
   display: table-cell;
   vertical-align: middle;
}

#buzzGoodBytesJsButtonIcon
{
    position: relative;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: white;
    border-radius: 30px;

    display: table-cell;
    vertical-align: middle;

    transition: all .2s ease;
}

.buzzGoodBytesJsButtonUnsubscribed #buzzGoodBytesJsButtonIcon
{
    background: #FF0098;
}

.buzzGoodBytesJsButtonSubscribed #buzzGoodBytesJsButtonIcon
{
    background:#2ecc71;
}

#buzzGoodBytesJsButtonIcon::before, #buzzGoodBytesJsButtonIcon::after{
  background: white;
  content:'';
  display:block;
  position:absolute;
  width:5px;
  transition: all .2s ease;
}

#buzzGoodBytesJsButtonIcon::before{
  height:18px;
  left:12px;
  top:6px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

#buzzGoodBytesJsButtonIcon::after{
  height:18px;
  right:13px;
  top:6px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.buzzGoodBytesJsButtonSubscribed #buzzGoodBytesJsButtonIcon::before
{
    height: 12px;
    left: 9px;
    top: 11px;
    -webkit-transform:rotate(-47deg);
    transform:rotate(-47deg);
}

.buzzGoodBytesJsButtonSubscribed #buzzGoodBytesJsButtonIcon::after{
  height: 15px;
  right: 9px;
  top: 8px;
  -webkit-transform:rotate(43deg);
  transform:rotate(43deg);
}